name: Android CI/CD

# для корректной работы скрипта в репозитории в secrets должны лежать
# актуальные (с неистекшим сроком действия) токены:
# secrets.MOBILE_TOKEN - fine-grained токен организации с доступом ко всем приватным репозиториям с зависимостями
# secrets.GPR_TOKEN - classic токен с правами чтения maven packages в репо с ними, если есть такая зависимость

permissions:
  actions: write       # Necessary to cancel workflow executions
  contents: read
  packages: read

on:
  push:
    tags:
      - 'build/test/*' # Tag to trigger for dev debug & release APKs for testing
      - 'build/release/*' # Tag to trigger for prod release AAB deployment on Google Play

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    # GitHub Actions can't use "AND" in "on push" for tags AND branches,
    # it uses tags OR branches instead, so we specify branches here
    if: github.ref == 'refs/heads/develop' || 'refs/heads/CI-sample'

    steps:
      - name: Webhook
        uses: joelwmale/webhook-action@cc1a66f987e1591785273fd6f9d2f7a9d8d7c9cd
        with:
          url: ${{ secrets.WEBHOOK_URL }}
          headers: ${{ secrets.AUTH }}
          body: '{"message": {"entity_type": "discussion","entity_id": "15982767","content": "Тест отправки сообщения из GitHub CI"}}'
          
#      - name: Checkout
#        uses: actions/checkout@v4.2.2
#        with:
#          token: ${{ secrets.MOBILE_TOKEN }}
#          submodules: true

#      - name: Setup Java JDK 17
#        uses: actions/setup-java@v4.5.0
#        with:
#          java-version: '17'
#          distribution: 'adopt'

#      - name: Setup Gradle
#        uses: gradle/actions/setup-gradle@v4
#        env:
#          GPR_TOKEN: ${{ secrets.MOBILE_TOKEN }}
#          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
#          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
#          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
#        with:
#          # установлено на false, тк все билды на ci запускаются только на указанных выше ветках
#          # и только по тэгам build/test и build/release (см. выше)
#          # условие вида ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop' }}
#          # как указано в документации для setup-gradle здесь не срабатывает
#          cache-read-only: false

#      - name: Build dev debug APK for testing
#        if: contains(github.ref, 'refs/tags/build/test')
#        env:
#          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
#          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
#          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
#          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
#        run: ./gradlew assembleDevDebug

#      - name: Upload a Debug Testing Build Artifact
#        if: contains(github.ref, 'refs/tags/build/test')
#        uses: actions/upload-artifact@v4.4.3
#        with:
#          name: androidcisample-dev-debug.apk
#          path: app/build/outputs/apk/dev/debug/app-dev-debug.apk

#      - name: Build dev release APK for testing
#        if: contains(github.ref, 'refs/tags/build/test')
#        env:
#          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
#          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
#          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
#          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
#        run: ./gradlew assembleDevRelease

#      - name: Upload a Release Testing Build Artifact
#        if: contains(github.ref, 'refs/tags/build/test')
#        uses: actions/upload-artifact@v4.4.3
#        with:
#          name: androidcisample-dev-release.apk
#          path: app/build/outputs/apk/dev/release/app-dev-release.apk

#      - name: Build prod release AAB
#        if: contains(github.ref, 'refs/tags/build/release')
#        env:
#          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
#          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
#          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
#          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
#        run: ./gradlew bundleProdRelease

#      - name: Upload a Prod Build Artifact
#        if: contains(github.ref, 'refs/tags/build/release')
#        uses: actions/upload-artifact@v4.4.3
#        with:
#          name: androidcisample-prod-release.aab
#          path: app/build/outputs/bundle/prodRelease/app-prod-release.aab

      # можно выделить в отдельную job, для этого нужно разобраться с сквозными ссылками на собранный aab
#      - name: Upload to Google Play
#        if: contains(github.ref, 'refs/tags/build/release')
#        uses: r0adkll/upload-google-play@v1.1.3
#        with:
#          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
#          packageName: com.mivanovskaya.androidcisample
#          releaseFiles: app/build/outputs/bundle/prodRelease/*.aab
#          track: internal
